{% extends "impression/print.html.twig" %}
{% set info = InfoGeneral() %}

{% block title %}
    <title>التزام</title>
{% endblock %}

{% block header %}
    {% include "impression/header.html.twig" %}
{% endblock %}

{% block content %}
    
    <table class="table-details">
        <tbody>
            <tr>
                <td rowspan="6" style="width: 30%"></td>
                <th>من مدير :</th>
                <td>{{ info.etablissement ~ ' ' ~ info.ville }}</td>
            </tr>
            <tr>
                <th>إلى السيد :</th>
                <td>{{ eleve.nomPere }}</td>
            </tr>
            <tr>
                <td colspan="2" style="border: solid 1px black;">وبعد، وبعد تكرار غيابات منظوركم غير المبررة و غير الشرعية، أطالبكم بالالتزام بمتابعة إبنكم/إبنتكم و الحرص على
    جعل حضوره(ها) منتظما حتى لا يعرض نفسه للعقوبات.
    <br>
    </td>
            </tr>
            <tr>
                <th></th>
                <td><b>
                المدير</b></td>
            </tr>
        </tbody>
     </table>
        <br><br>
    <span >-----------------------------------------------------------------------------------------------------------------------------------</span>
     
     <br><br>
      <table class="table-details">
        <tbody>
        <tr>
            <th>أقر أنا التلميذ(ة) :</th>
            <td>{{ eleve.nomPrenom }}</td>
            <th>المرسم(ة) بـ :</th>
            <td>{{ eleve.classeAnneeActuelle }}</td>
        </tr>
        <tr>
            <th colspan="2">أني تسلمت المراسلة بتاريخ:</th>
            <td>..................................................</td>
            </tr>
         <tr>
            <th colspan="2">على الساعة</th>
            <td>..................................................</td>
        </tr>
         <tr>
            <td colspan="3" width="70%"></td>
            <th>إمضاء التلميذ(ة)</th>
        </tr>
        </tbody>
    </table>
    <br><br>
    <span >-----------------------------------------------------------------------------------------------------------------------------------</span>
        <br><br>
        <h1>إلتــــزام</h1>
            <p style="font-size: 16px; line-heigth: 30px;">إني.........................صاحب بطاقة التعريف الوطنية رقم.....................و الصادرة بـ.................في....................أشهد انّي علمت بغيابات ابني(ابنتي) غير المبررة،و تبعا لذلك التزم
            .بمتابعته(ها)  في دراسته(ها) و مواظبته(ها) و لادارة المؤسسة،متى تواصات هاته الغيابات، أن تتخذ في شأن منظوري الاجراء الذي تراه ملائما (الرفت المؤقت، الإحالة على مجلس التربية الحرمان من الإسعاف...)</p>
            <br><br><br><br>
            <table id="tbl-signature">
                <tbody>
                <tr>
                    <td rowspan="4" width="70%"></td>
                    <th>إمضاء الولي (معرف به)</th>
                </tr>
                </tbody>
            </table>
{% endblock %}