<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/print.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/impression.css') }}">
    {% block stylesheet %}{% endblock %}
</head>

<body>
<div class="header">
    {% block header %}{% endblock %}
</div>
<br><br>
<table>
    {# <thead>
    <tr>
        <td>
            <div class="header-space">&nbsp;</div>
        </td>
    </tr>
    </thead> #}
    <tbody>
    <tr>
        <td>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </td>
    </tr>
    </tbody>
    {# <tfoot>
    <tr>
        <td>
            <div class="footer-space">&nbsp;</div>
        </td>
    </tr>
    </tfoot> #}
</table>
<div class="print-btn no-print">
    <div style="text-align: center;display: block;">
        <button onclick="window.print();"><img src="{{ asset('assets/images/print-printer-icon.png') }}" alt="">
        </button>
    </div>
</div>
<div class="footer">
    {% block footer %}{% endblock %}
</div>
</body>

</html>