{% extends "impression/print.html.twig" %}
{% set info = InfoGeneral() %}

{% block title %}
    <title> اقتراح إنذار</title>
{% endblock %}

{% block header %}
    {% include "impression/header.html.twig" %}
    <br><br>
{% endblock %}

{% block content %}
<style>
p{
    font-size: 16px;
}

</style>
    <br><br>
    <h1>اقتراح إنذار</h1>
    <br><br>
    <table>
        <tbody>
        <tr>
            <td style="width: 200px; heigth: 45px;"><b> اسم التلميذ(ة) و لقبه (ها):</b></td>
            <td style="width: 400px; heigth: 45px;"> ....................................................................</td>
        </tr>
        <tr>
            <td style="width: 200px; heigth: 45px;"><b>القسم:</b></td>
            <td style="width: 400px; heigth: 45px;"> ....................................................................</td>
        </tr>
        <tr>
           <td style="width: 250px"><b>السبب :</b> </td>
            <td> ....................................................................</td>
        </tr>
        <tr>
            <td style="width: 250px"><b>قرار المدير</b></td>
            <td> ....................................................................</td>
         </tr>
    
        <tr>
            <td colspan="2"> ................................................................................................................................</td>
        </tr>
        <tr>
            <td colspan="2"> ................................................................................................................................</td>
        </tr>
        <tr>
            <td colspan="2"> ................................................................................................................................</td>
        </tr>
        <tr>
             <td><br><br></td>
           <td><b>الاسم و اللقب :.......................................</b> </td>   
        </tr>
         <tr>
             <td></td>
           <td><b>الصفة :................................................ </b></td>   
        </tr>
        
        </tr>
        </tbody>
    </table>
   
    <br><br><br><br>
        <p style="text-align: left; font-size: 16px;"><b>في : ...........................</b></p>

    <p style="text-align: left; font-size: 16px;"><b>الإمضاء</b></p>
    
{% endblock %}