{% extends "impression/print.html.twig" %}
{% set info = InfoGeneral() %}

{% block title %}
    <title>استجواب</title>
{% endblock %}

{% block header %}
    {% include "impression/header.html.twig" %}
{% endblock %}

{% block content %}
<style>
p{
    font-size: 16px;
}

</style>
   <h1>استجواب</h1>
    <table>
        <tbody>
        <tr>
            <th> اسم و لقب التلميذ(ة) : {{ eleve.nomPrenom }}</th>
            <th >المرسم بـ{{ eleve.classeAnneeActuelle }}</th>
        </tr>
         <tr>
            <th >إسم الولي : {{ eleve.nomPere }}  <br><br> <br></th>
            <td></td>
        </tr>
        <tr>
            <th colspan="2">1) السؤال :  ............................................................................................................................................................</th>
        </tr>
         <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2">1) الجواب :  ............................................................................................................................................................</th>
        </tr>
         <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................<br><br> <br></th>
        </tr>
         <tr>
            <th colspan="2">2) السؤال :  ............................................................................................................................................................</th>
        </tr>
         <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2">2) الجواب :  ............................................................................................................................................................</th>
        </tr>
         <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
        <tr>
            <th colspan="2"> ............................................................................................................................................................................</th>
        </tr>
       
        </tbody>
    </table>
   
    <br><br><br><br>
        <p style="text-align: left; font-size: 16px;"><b>في : {{ date()|date('d-m-Y') }}</b></p>

    <p style="text-align: left; font-size: 16px;"><b>إمضاء القيم العام</b></p>
    
{% endblock %}