{% extends "impression/print.html.twig" %}
{% set info = InfoGeneral() %}

{% block title %}
    <title> تقرير</title>
{% endblock %}

{% block header %}
    {% include "impression/header.html.twig" %}
{% endblock %}

{% block content %}
<style>
p{
    font-size: 16px;
}
/*td{*/
/*    width: 200px */
/*    !* heigth: 45px; *!*/
/*}*/
</style>
   
    <table>
        <tbody>
        <tr>
            <td> </td>
            <th style="width: 400px; heigth: 45px;"><h3>إلى السيد مدير{{ info.etablissement }}</h3></th>
        </tr>
         <tr>
            <td > </td>
            <th style="width: 400px; heigth: 45px;"><h3>عن طريق السيد المرشد التربوي</h3></th>
        </tr>
        <tr>
            <th style="width: 250px;"> اسم الأستاذ(ة) :</td>
            <td style="width: 400px; heigth: 45px;">..............................................................................................................             </td>
        </tr>
        <tr>
            <th style="width: 250px;"> اسم التلميذ(ة) :</th>
            <td style="width: 400px; heigth: 45px;">..............................................................................................................             </td>
        </tr>
        <tr>
            <th style="width: 250px;">القسم:</th>
            <td style="width: 400px; heigth: 45px;">..............................................................................................................             </td>
        </tr>
        <tr>
           <th style="width: 250px"> تاريخ اللقاء بالولي : </th>
            <td style="width: 400px; heigth: 45px;">..............................................................................................................             </td>
        </tr>
        <tr>
            <th style="width: 250px"> التوقيت:</th>
            <td style="width: 400px; heigth: 45px;">..............................................................................................................             </td>
         </tr>
     <tr>
            <th style="width: 250px"> الموضوع:</th>
            <td style="width: 400px; heigth: 45px;">..............................................................................................................             </td>
         </tr>
        <tr>
            <td colspan="2"> ............................................................................................................................................................................</td>
        </tr>
        <tr>
            <td colspan="2"> ............................................................................................................................................................................</td>
        </tr>
        <tr>
            <td colspan="2"> ............................................................................................................................................................................</td>
        </tr>
       
        </tbody>
    </table>
   
    <br><br><br><br>
        <p style="text-align: left; font-size: 16px;"><b>في : {{ date()|date('d-m-Y') }}</b></p>

    <p style="text-align: left; font-size: 16px;"><b>إمضاء القيم العام</b></p>
    
{% endblock %}